.flex_container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* main axis*/
  justify-content: center;
  /* perpendicular axis*/
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(50, 15, 19), rgb(30,26,26));
}


.flex_item {
  aspect-ratio: 1 / 1;
  height: 60vh;
  align-self: center;
}
